<div class="jumbotron">
  <div class="jumboheader">
    <div>
      <h1 class="display-4">ALPHA BLOG</h1>
      <p class="lead">Welcome to this simple application for studying rails. CRUD operations available! Rails is awesome!</p>
    </div>
    <div>
      <%= image_tag("rails.png", size: "100x100", :alt => "rails icon") %>
    </div>
  </div>
  <hr class="my-4">
  <p>You can move on and sign up! *Another bootstrap template*</p>
  <p class="lead">
    <%= link_to "Sign up now", root_path, class:"btn btn-primary btn-lg" %>
  </p>
</div>