#logo{
  font-size: 1.7em;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover{
    color: #B00100;
    text-decoration: none;
  }
}

.jumbotron .jumboheader{
  display: flex;
  flex-direction: row;
  img{
    margin-left: 5em;
  }
}

.errorlist{
  $textcolor : red;
  li{
    color: $textcolor;
    list-style: none;
  }
}
body{
  .row{
    margin: 15px auto auto;
    form{
      width: 50%;
    }
  }
}

footer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #000000;
  ul{
    list-style: none;
  }
  a:hover{
    color: #222
  }
}